<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<h1>My Profile</h1>

<h2>Public Music</h2>
<ul>
{% for music in public_music %}
    <li>{{ music.title }}</li>
{% empty %}
    <li>No public music available</li>
{% endfor %}
</ul>

<h2>Protected Music</h2>
<ul>
{% for music in protected_music %}
    <li>{{ music.title }}</li>
{% empty %}
    <li>No protected music available</li>
{% endfor %}
</ul>

<h2>My Music</h2>
<ul>
{% for music in user_music %}
    <li>{{ music.title }}</li>
{% empty %}
    <li>No uploaded music available</li>
{% endfor %}

</ul>
<a href="upload"><button type="submit">Upload your music</button></a>
<br>
<a href="logout"><button type="submit">logout</button> </a>
</body>
</html>